.nav-btn {
  display: none;
}

.css-12t402l::-webkit-scrollbar {
  height: 12px;
}

/* Track */
.css-12t402l::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.css-12t402l::-webkit-scrollbar-thumb {
  background: #005e93;
  border-radius: 10px;
}

/* Handle on hover */
.css-12t402l::-webkit-scrollbar-thumb:hover {
  background: #086ca6;
}
@media screen and (max-width: 800px) {
  .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 124, 200);
    border-radius: 3px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
    color: white;
    right: 10px;
    position: fixed;
  }
  div.nav-items {
    margin-left: 0 !important;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    right: 0px;
    background-color: white;
    top: 60px;
    align-items: flex-end;
    padding: 30px;
    overflow: clip;
    z-index: 9999999;
  }
  a.nav-item {
    margin: 13px 0;
  }
}
@media screen and (max-width: 600px) {
  div.login-form {
    width: 94vw;
  }
}
